In [1]:
import pandas as pd 

df = pd.read_csv("student_completed_data.csv")

df

   StudentID          FullName  ...    Location Total Marks
0     PH0001       Alif Rahman  ...      Khulna         300
1     PH0002     Fatima Akhter  ...       Dhaka         271
2     PH0003     Imran Hossain  ...       Dhaka         269
3     PH0004  Jannatul Ferdous  ...      Khulna         270
4     PH0005       Kamal Uddin  ...      Sylhet         254
5     PH0006       Laila Begum  ...      Khulna         272
6     PH0007    Mahmudul Hasan  ...  Chattogram         249
7     PH0008       Nadia Islam  ...      Khulna         246
8     PH0009        Omar Faruq  ...       Dhaka         291
9     PH0010      Priya Sharma  ...       Dhaka         286
10    PH0011      Rahim Sheikh  ...      Sylhet         283
11    PH0012   Sadia Chowdhury  ...      Sylhet         266
12    PH0013      Tanvir Ahmed  ...       Dhaka         248
13    PH0014        Urmi Akter  ...      Sylhet         285
14    PH0015      Wahiduzzaman  ...    Rajshahi         291
15    PH0016      Ziaur Rahman  ...    Rajshahi         234
16    PH0017       Afsana Mimi  ...      Khulna         236
17    PH0018       Babul Ahmed  ...       Dhaka         278
18    PH0019      Faria Rahman  ...      Sylhet         277
19    PH0020       Tariq Hasan  ...      Khulna         253

[20 rows x 8 columns]

In [3]:
# df.head(3)

In [4]:
df.tail(3)

   StudentID      FullName CompletionStatus  ... Instructor Location Total Marks
17    PH0018   Babul Ahmed        Completed  ...  Mr. David    Dhaka         278
18    PH0019  Faria Rahman        Completed  ...  Mr. Karim   Sylhet         277
19    PH0020   Tariq Hasan        Completed  ...  Mr. Karim   Khulna         253

[3 rows x 8 columns]

In [5]:
df.columns

Index(['StudentID', 'FullName', 'CompletionStatus', 'EnrollmentDate',
       'FinishedDate', 'Instructor', 'Location', 'Total Marks'],
      dtype='object')

In [6]:
col = list(df.columns)

In [7]:
print(col)

['StudentID', 'FullName', 'CompletionStatus', 'EnrollmentDate', 'FinishedDate', 'Instructor', 'Location', 'Total Marks']

In [8]:
type(col)

list

In [9]:
df.index

RangeIndex(start=0, stop=20, step=1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   StudentID         20 non-null     object
 1   FullName          20 non-null     object
 2   CompletionStatus  20 non-null     object
 3   EnrollmentDate    20 non-null     object
 4   FinishedDate      20 non-null     object
 5   Instructor        20 non-null     object
 6   Location          20 non-null     object
 7   Total Marks       20 non-null     int64
dtypes: int64(1), object(7)
memory usage: 1.4+ KB

In [13]:
import numpy as np
ind = np.array(df.index)
print(ind)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [16]:

print(col)

['StudentID' 'FullName' 'CompletionStatus' 'EnrollmentDate' 'FinishedDate'
 'Instructor' 'Location' 'Total Marks']

In [17]:
df.sample()

   StudentID      FullName CompletionStatus  ... Instructor Location Total Marks
12    PH0013  Tanvir Ahmed        Completed  ...  Mr. David    Dhaka         248

[1 rows x 8 columns]